:root {
    --primary-color: #DA9100;
    --font-color: #00010A;
    --bg-color: #fff;
    --heading-color: #E6A016;
    --hover-color: #FFE5B3;
}

[data-theme="dark"] {
    --primary-color: #3e5f65;
    --font-color: #fff;
    --bg-color: #00010A;
    --heading-color: #6a9ba3;
    --hover-color: #76A7AF;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("https://cdn.glitch.com/f6f41a3d-4a40-45ac-86a0-52ef0a496c26%2FSpaceGrotesk-Regular.woff2?v=1574065795186")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("https://cdn.glitch.com/f6f41a3d-4a40-45ac-86a0-52ef0a496c26%2FSpaceGrotesk-Bold.woff2?v=1574065781691")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("https://cdn.glitch.com/f6f41a3d-4a40-45ac-86a0-52ef0a496c26%2FSpaceGrotesk-Medium.woff2?v=1574067892851")
    format("woff2");
  font-weight: normal;
  font-style: italic;
}

body {
  font-size: 20px;
  background-color: var(--bg-color);
  font-family: "Space Mono", "Times New Roman", serif;
}

footer {
  background-color: var(--primary-color);
}

p {
  color: var(--font-color);
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: "SpaceGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: var(--heading-color);
  transition: all 0.2s;
}

a:focus,
a:hover {
  color: var(--hover-color);
}

blockquote {
  font-style: italic;
  color: var(--heading-color);
  background-color: var(--bg-color);
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.post-content {
  white-space: pre-line;
  color: var(--font-color);
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: var(--bg-color);
  background: var(--font-color);
  text-shadow: none;
}

::selection {
  color: var(--bg-color);
  background: var(--font-color);
  text-shadow: none;
}

img::-moz-selection {
  color: var(--bg-color);
  background: transparent;
}

img::selection {
  color: var(--bg-color);
  background: transparent;
}

img::-moz-selection {
  color: var(--bg-color);
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  font-family: "SpaceGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: var(--font-color);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: var(--hover-color);
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--font-color);
}

#mainNav .navbar-nav > li.nav-item > a:active {
  color: var(--hover-color);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: var(--font-color);
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: var(--bg-color);
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: var(--hover-color);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: var(--bg-color);
  }
  #mainNav .navbar-nav > li.nav-item > a:focus,
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: var(--hover-color);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -69px;
    transition: transform 0.2s;
    border-bottom: 3px solid var(--heading-color);
    background-color: var(--bg-color);
  }
  #mainNav.is-fixed .navbar-brand {
    color: var(--font-color);
  }
  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: var(--hover-color);
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: var(--font-color);
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: var(--hover-color);
  }
  #mainNav.is-fixed input:checked + .slider {
    background-color: var(--heading-color);
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: var(--primary-color);
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--heading-color);
/*   opacity: 0.5; */
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: var(--font-color);
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: "SpaceGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "SpaceGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  /* cp */
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: "Space Mono", "Times New Roman", serif;
}

header.masthead .post-heading .meta a {
  color: var(--font-color);
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post-preview > a:focus,
.post-preview > a:hover {
  text-decoration: none;
/*   color: #0085A1; */
  color: var(--hover-color);
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--bg-color);
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
  color: var(--font-color);
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: var(--font-color);
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: var(--font-color);
}

.post-preview > .post-meta > a:focus,
.post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--heading-color);
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--font-color);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Space Mono", "Times New Roman", serif;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  /*   background: none; */
  color: var(--font-color) !important;
  background-color: var(--bg-color);
  box-shadow: none !important;
  font-family: "Space Mono", "Times New Roman", serif;
}

.floating-label-form-group input:focus {
  background-color: var(--bg-color);
}

.floating-label-form-group textarea:focus {
  background-color: var(--bg-color);
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  background-color: var(--bg-color);
  color: var(--hover-color);
  font-family: "Space Mono", "Times New Roman", serif;
}

.floating-label-form-group label {
  font-size: 0.9em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: var(--hover-color);
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid var(--font-color);
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 10px;
  font-weight: 785;
  padding: 11px 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: "SpaceGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: var(--heading-color);
  border-color: var(--heading-color);
  color: var(--bg-color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: var(--font-color);
  background-color: var(--hover-color) !important;
  border-color: var(--hover-color) !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

@media only screen and (min-width: 992px) {
  .btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: "SpaceGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

/* post-content animation */

.raise {
  background-color: var(--primary-color);
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.raise:hover,
.raise:focus {
  box-shadow: inset 0 -0.6em 0 -0.35em var(--hover-color);
  transform: scale(1.03);
  transition: 0.25s;
}

.raise:active {
  box-shadow: none;
  top: 0.1em;
  transform: scale(0.98);
}

/* search bar */

form input[type="search"] {
  border: solid 3px var(--font-color);
  box-sizing: border-box;
  font-size: 2em;
  height: 2em;
  outline: solid var(--primary-color) 0;
  transition: all 2s ease-in;
  width: 30vw;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  form input[type="search"] {
    width: 60vw;
  }
}

form input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
}

form input[type="search"]:focus,
form input[type="search"]:active {
  border: solid 3px var(--hover-color);
  outline: solid var(--font-color) 2000px;
  color: var(--font-color);
  background-color: var(--bg-color);
}

/* post-title hover effect if raise hovered */

.raise:hover .post-title,
.raise:active .post-title {
  color: var(--hover-color);
}

/* error msg */
.error-msg {
  color: var(--font-color);
}

/*Simple css to style it like a toggle switch*/
/* src = https://codepen.io/AllThingsSmitty/pen/MmxxOz/ */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--heading-color);
}

@media only screen and (min-width: 992px) {
  input:checked + .slider {
    background-color: var(--primary-color);
  }
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* comment content */

.comment-content {
  position: relative;
  color: var(--font-color);
  background-color: var(--primary-color);
}
